.navigation-buttons-group a {
  @apply mx-4 font-semibold cursor-pointer;
}

ul li:first-child {
  color: #5865f2;
}

li {
  @apply mb-4 max-w-[250px];
}

hr {
  border: solid 1px #5865f2;
}

.imagine-header {
  font-size: "clamp(24px, 5vw, 44px)";
  @apply md:text-6xl;
}
